body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:navajowhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navlink {
    text-align: right;
    margin-top: 30px;
    float:right;

}

.dellink {
    float:left;
}

#containerlist, #containershow{
    width:80%;
    margin: 0 auto;
    margin-top: 50px;
}
button {
    margin: 0 auto;
    color: #ff2222;
    border-radius: 5px;
    
}